body {
  background-color: #648060;
  font-family: "Playfair Display", serif;
  color: #e8e3e3;
  margin: 0;
  border: 10px solid #21401D;
  font-size: 22px; }

a, a:visited {
  color: whitesmoke;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

li a.active {
  text-decoration: underline; }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  margin: 2rem;
  border-bottom: 1px solid #21401D;
  padding-bottom: 1rem; }

header {
  text-align: center;
  padding: 0 0 1rem 0; }
  header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    padding-left: 0; }
    header nav ul li {
      margin: 0 2rem; }
    header nav ul li a, header nav ul a:visited {
      color: whitesmoke;
      text-decoration: none; }
    header nav ul li a:hover {
      text-decoration: underline; }

main .gallery {
  text-align: center;
  height: 350px;
  margin: 0 0 5rem 0; }
  main .gallery .main-img {
    margin: auto;
    height: 350px; }

main section.main-text {
  background-color: #21401D;
  text-align: center;
  padding: 4rem; }
  main section.main-text p:first-of-type {
    font-size: 34px;
    margin-bottom: 4rem;
    margin-top: 0; }
  main section.main-text p {
    width: 60vw;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem; }

main .mobile-img {
  display: none; }

main .bottom-img {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  height: 500px; }

.catalog-text, .contact-text {
  background-color: #21401D;
  text-align: center;
  padding: 4rem; }
  .catalog-text p, .contact-text p {
    margin: auto;
    width: 60vw;
    margin-top: 1rem;
    margin-bottom: 1rem; }

.catalog-oct-container {
  padding-top: 6rem;
  text-align: center;
  margin: 5px; }
  .catalog-oct-container img {
    width: 75vw; }
  .catalog-oct-container__details {
    padding: .5rem 0 .5rem 0;
    margin: auto;
    margin-top: -6px;
    background: #21401D;
    width: 75vw;
    font-size: 18px; }

.catalog-grid {
  width: 75vw;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  row-gap: 1rem; }
  .catalog-grid .catalog-grid__item {
    margin: 5px; }
    .catalog-grid .catalog-grid__item img {
      object-fit: contain;
      max-width: 100%; }
    .catalog-grid .catalog-grid__item__details {
      padding: .5rem 0 .5rem .5rem;
      margin-top: -6px;
      background: #21401D; }

.contact-text p a {
  text-decoration: underline; }

.contact-img {
  padding: 4rem;
  height: 800px;
  display: flex;
  margin: auto; }

footer {
  text-align: center; }

@media (max-width: 1035px) {
  main .gallery, main .gallery img {
    height: 300px; } }

@media (min-width: 600px) {
  .catalog-grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1.5rem;
    row-gap: 1rem; }
    .catalog-grid__item__details {
      font-size: 18px; }
  .catalog-oct-container img {
    width: 55vw; }
  .catalog-oct-container__details {
    width: 55vw;
    font-size: 18px; } }

@media (min-width: 900px) {
  .catalog-grid {
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 1.5rem;
    row-gap: 1rem; } }

@media (max-width: 900px) {
  .catalog-grid__item__details {
    font-size: 18px; } }

@media (max-width: 830px) {
  main .gallery {
    height: 300px; }
  main .gallery .mobile-img {
    display: block;
    margin: auto;
    height: 350px; } }

@media (max-width: 740px) {
  .contact-img {
    height: 500px; }
  main .bottom-img {
    height: 350px; } }

@media (max-width: 520px) {
  .contact-img {
    height: 300px;
    padding: 2rem; }
  .contact-text p {
    width: 75vw; }
  main .bottom-img {
    height: 220px; } }

@media (max-width: 440px) {
  header nav ul {
    flex-direction: column; }
    header nav ul li {
      margin: 8px; }
  header {
    padding: 0; }
  .gallery {
    height: 200px !important; }
  .main-img {
    width: 80vw;
    height: initial !important; }
  h1 {
    margin: 2rem;
    font-size: 45px; }
  .catalog-text, .contact-text {
    padding: 2rem; } }
